{% extends "quotes/base.html" %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    <div class="form-outline mb-4">

      {% if messages %}
      <div>
          {% for message in messages %}
          <div {% if message.tags %} class="alert alert-danger" {% endif %} role="alert">{{ message }}</div>
          {% endfor %}
      </div>
      {% endif %}

      <label class="form-label"><div>Email address:</div>
        {% if form.errors.username %}
        <div class="alert alert-danger" role="alert">
          {{ form.errors.username }}
        </div>
        {% endif %}
        {{ form.username }}
      </label>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label"><div>Password:</div>
        {% if form.errors.password %}
        <div class="alert alert-danger" role="alert">
          {{ form.errors.password }}
        </div>
        {% endif %}
        {{ form.password }}
      </label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
  </form>
{% endblock %}